body {
  background-color: white;
}
h1 {
  color: #1abc9c;
  text-align: center;
}
.rem {
  margin-left: 5px;
  background-color: white;
  color: red;
  border: none;
  cursor: pointer;
}
ol {
  color: #1abc9c;
}
li {
  color: black;
  font-weight: normal;
  font-size: 16px;
}
.parent-ol {
  width: 100%;
  display: flex;
  margin: auto;
  text-align: center;
}
.parent-btn {
  text-align: center;
}
.text {
  color: #1abc9c;
  font-size: 18px;
  font-weight: bold;
}
.parent_h1 {
  background-color: #ffe4c4;
}
.parent_audio {
  display: block;
  text-align: center;
}
input {
  margin-top: 10px;
  height: auto;
  width: auto;
}
